
.container-grid{
  max-width:130rem;
  margin:0 auto;
}

.catering-grid{
  width:100%;
  display:grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows:auto;
  margin-bottom:2rem;
  align-items: center;
  overflow: hidden;
}

.graphic-img{
  width:100%;
  height:50em;
  background-image: url("https://source.unsplash.com/1290x900/?buffet");
  background-size:cover;
  background-attachment: fixed;
  margin-bottom:2rem;
}



.catering-photo img{
  display:block;
  width:100%;
  height:100%;
  display:block;
  object-fit: cover;
}

.catering-text{
  padding:3.2rem;
  font-size:2rem;
  color:#444;
  line-height:1.4;
}

.icon{
  height:6.4rem;
  margin:1.6rem;
  opacity:.25;
}

.cat-img-right{
  border-bottom-left-radius: 100rem;
}
.cat-img-left{
  border-top-right-radius: 100rem;
}

.w-2{
  grid-column: span 2;
}
.w-3{
  grid-column: span 3;
}
.w-4{
  grid-column: span 4;
}


.h-2{
  grid-row: span 2;
}
.h-3{
  grid-row: span 2;
}
.h-4{
  grid-row: span 2;
}

@media(max-width:75em){
  .catering-text{
    font-size:1.6rem;
  }
}

@media(max-width:60em){
  .container-grid{
    margin-top: 4rem;
  }

  .catering-photo{
    grid-column:span 3 ;
  }

  .catering-text{
    grid-column:span 3;
  }

  html{
    font-size:52.25%;
  }
}

@media(max-width:47.5em){
  .catering-grid{
    grid-template-columns: 1fr;
  }

  .mob-bottom{
    grid-row: 2;
  }

  .cat-img-right{
    border-bottom-left-radius: 50%;
  }
  .cat-img-left{
    border-top-right-radius: 50%;
  }
}