.contact-section{
  min-height:100vh;
  background-color: rgb(133, 132, 131);
  position:relative;
  background-image: linear-gradient(
      158deg,
      rgba(84, 84, 84, 0.03) 0%,
      rgba(84, 84, 84, 0.03) 20%,
      rgba(219, 219, 219, 0.03) 20%,
      rgba(219, 219, 219, 0.03) 40%,
      rgba(54, 54, 54, 0.03) 40%,
      rgba(54, 54, 54, 0.03) 60%,
      rgba(99, 99, 99, 0.03) 60%,
      rgba(99, 99, 99, 0.03) 80%,
      rgba(92, 92, 92, 0.03) 80%,
      rgba(92, 92, 92, 0.03) 100%
    ),
    linear-gradient(
      45deg,
      rgba(221, 221, 221, 0.02) 0%,
      rgba(221, 221, 221, 0.02) 14.286%,
      rgba(8, 8, 8, 0.02) 14.286%,
      rgba(8, 8, 8, 0.02) 28.572%,
      rgba(52, 52, 52, 0.02) 28.572%,
      rgba(52, 52, 52, 0.02) 42.858%,
      rgba(234, 234, 234, 0.02) 42.858%,
      rgba(234, 234, 234, 0.02) 57.144%,
      rgba(81, 81, 81, 0.02) 57.144%,
      rgba(81, 81, 81, 0.02) 71.42999999999999%,
      rgba(239, 239, 239, 0.02) 71.43%,
      rgba(239, 239, 239, 0.02) 85.71600000000001%,
      rgba(187, 187, 187, 0.02) 85.716%,
      rgba(187, 187, 187, 0.02) 100.002%
    ),
    linear-gradient(
      109deg,
      rgba(33, 33, 33, 0.03) 0%,
      rgba(33, 33, 33, 0.03) 12.5%,
      rgba(147, 147, 147, 0.03) 12.5%,
      rgba(147, 147, 147, 0.03) 25%,
      rgba(131, 131, 131, 0.03) 25%,
      rgba(131, 131, 131, 0.03) 37.5%,
      rgba(151, 151, 151, 0.03) 37.5%,
      rgba(151, 151, 151, 0.03) 50%,
      rgba(211, 211, 211, 0.03) 50%,
      rgba(211, 211, 211, 0.03) 62.5%,
      rgba(39, 39, 39, 0.03) 62.5%,
      rgba(39, 39, 39, 0.03) 75%,
      rgba(55, 55, 55, 0.03) 75%,
      rgba(55, 55, 55, 0.03) 87.5%,
      rgba(82, 82, 82, 0.03) 87.5%,
      rgba(82, 82, 82, 0.03) 100%
    ),
    linear-gradient(
      348deg,
      rgba(42, 42, 42, 0.02) 0%,
      rgba(42, 42, 42, 0.02) 20%,
      rgba(8, 8, 8, 0.02) 20%,
      rgba(8, 8, 8, 0.02) 40%,
      rgba(242, 242, 242, 0.02) 40%,
      rgba(242, 242, 242, 0.02) 60%,
      rgba(42, 42, 42, 0.02) 60%,
      rgba(42, 42, 42, 0.02) 80%,
      rgba(80, 80, 80, 0.02) 80%,
      rgba(80, 80, 80, 0.02) 100%
    ),
    linear-gradient(
      120deg,
      rgba(232, 232, 232, 0.01) 0%,
      rgba(232, 232, 232, 0.01) 14.286%,
      rgba(207, 207, 207, 0.03) 14.286%,
      rgba(207, 207, 207, 0.03) 28.572%,
      rgba(207, 207, 207, 0.03) 28.572%,
      rgba(207, 207, 207, 0.03) 42.858%,
      rgba(176, 176, 176, 0.03) 42.858%,
      rgba(176, 176, 176, 0.03) 57.144%,
      rgba(227, 227, 227, 0.03) 57.144%,
      rgba(227, 227, 227, 0.03) 71.42999999999999%,
      rgba(176, 176, 176, 0.03) 71.43%,
      rgba(176, 176, 176, 0.03) 85.71600000000001%,
      rgba(53, 53, 53, 0.03) 85.716%,
      rgba(53, 53, 53, 0.03) 100.002%
    ),
    linear-gradient(
      45deg,
      rgba(214, 214, 214, 0.03) 0%,
      rgba(214, 214, 214, 0.03) 16.667%,
      rgba(255, 255, 255, 0.03) 16.667%,
      rgba(255, 255, 255, 0.03) 33.334%,
      rgba(250, 250, 250, 0.03) 33.334%,
      rgba(250, 250, 250, 0.03) 50.001000000000005%,
      rgba(231, 231, 231, 0.03) 50.001%,
      rgba(231, 231, 231, 0.03) 66.668%,
      rgba(255, 255, 255, 0.03) 66.668%,
      rgba(255, 255, 255, 0.03) 83.33500000000001%,
      rgba(221, 221, 221, 0) 83.335%,
      rgba(221, 221, 221, 0) 100.002%
    ),
    linear-gradient(
      59deg,
      rgba(225, 225, 225, 0.02) 0%,
      rgba(225, 225, 225, 0.02) 12.5%,
      rgba(221, 221, 221, 0) 12.5%,
      rgba(221, 221, 221, 0) 25%,
      rgba(230, 230, 230, 0.01) 25%,
      rgba(230, 230, 230, 0.01) 37.5%,
      rgba(215, 215, 215, 0.01) 37.5%,
      rgba(215, 215, 215, 0.01) 50%,
      rgba(176, 176, 176, 0) 50%,
      rgba(176, 176, 176, 0) 62.5%,
      rgba(215, 215, 215, 0.01) 62.5%,
      rgba(215, 215, 215, 0.01) 75%,
      rgba(249, 249, 249, 0.01) 75%,
      rgba(249, 249, 249, 0.01) 87.5%,
      rgba(215, 215, 215, 0) 87.5%,
      rgba(215, 215, 215, 0) 100%
    ),
    linear-gradient(
      241deg,
      rgba(176, 176, 176, 0) 0%,
      rgba(176, 176, 176, 0) 25%,
      rgba(221, 221, 221, 0) 25%,
      rgba(221, 221, 221, 0) 50%,
      rgba(254, 254, 254, 0) 50%,
      rgba(254, 254, 254, 0) 75%,
      rgba(52, 52, 52, 0.02) 75%,
      rgba(52, 52, 52, 0.02) 100%
    ),
    linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
}

.contact-grid{
  position:absolute;
  margin:0 auto;
  align-items:center;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  gap:8rem;
}

.kon-card{
  height:28rem;
  width: 28rem;
  border-radius:9px;
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  padding: 3rem;
  align-items: center;
backdrop-filter: blur(6px);

box-shadow: 0 0 24px 8px rgba(0, 0, 0, 0.1);
}

.icon{
  height:4.4rem;
  width:4.4rem;
  color: #666;
  margin:.6rem;
}

.kon-text{
  font-size:2rem;
  text-align:center;
  font-weight: 100;
  color:#333;
}

.kon-tel:link,
.kon-tel:visited{
  text-decoration: none;
  color:#333;
  padding: 1rem;
}

.watermark{
  text-transform:uppercase;
  font-size:1.8rem;
  letter-spacing: .3rem;
  opacity:.2;
}

@media(max-width:65em){
  html{
    font-size:52.25%
  }
}

@media(max-width:60em){
  
  .contact-grid{
    position:static;
    top:0;
    left:0;
    transform: translate(0% ,0%);
    grid-template-columns: 1fr;
    margin:12rem auto;
    justify-items: center;
  }
  
  .kon-card{
    display:flex;
    height:22rem;
    width: 90%;
  }
  
  body{
    background-image: linear-gradient(
      158deg,
      rgba(84, 84, 84, 0.03) 0%,
      rgba(84, 84, 84, 0.03) 20%,
      rgba(219, 219, 219, 0.03) 20%,
      rgba(219, 219, 219, 0.03) 40%,
      rgba(54, 54, 54, 0.03) 40%,
      rgba(54, 54, 54, 0.03) 60%,
      rgba(99, 99, 99, 0.03) 60%,
      rgba(99, 99, 99, 0.03) 80%,
      rgba(92, 92, 92, 0.03) 80%,
      rgba(92, 92, 92, 0.03) 100%
    ),
    linear-gradient(
      45deg,
      rgba(221, 221, 221, 0.02) 0%,
      rgba(221, 221, 221, 0.02) 14.286%,
      rgba(8, 8, 8, 0.02) 14.286%,
      rgba(8, 8, 8, 0.02) 28.572%,
      rgba(52, 52, 52, 0.02) 28.572%,
      rgba(52, 52, 52, 0.02) 42.858%,
      rgba(234, 234, 234, 0.02) 42.858%,
      rgba(234, 234, 234, 0.02) 57.144%,
      rgba(81, 81, 81, 0.02) 57.144%,
      rgba(81, 81, 81, 0.02) 71.42999999999999%,
      rgba(239, 239, 239, 0.02) 71.43%,
      rgba(239, 239, 239, 0.02) 85.71600000000001%,
      rgba(187, 187, 187, 0.02) 85.716%,
      rgba(187, 187, 187, 0.02) 100.002%
    ),
    linear-gradient(
      109deg,
      rgba(33, 33, 33, 0.03) 0%,
      rgba(33, 33, 33, 0.03) 12.5%,
      rgba(147, 147, 147, 0.03) 12.5%,
      rgba(147, 147, 147, 0.03) 25%,
      rgba(131, 131, 131, 0.03) 25%,
      rgba(131, 131, 131, 0.03) 37.5%,
      rgba(151, 151, 151, 0.03) 37.5%,
      rgba(151, 151, 151, 0.03) 50%,
      rgba(211, 211, 211, 0.03) 50%,
      rgba(211, 211, 211, 0.03) 62.5%,
      rgba(39, 39, 39, 0.03) 62.5%,
      rgba(39, 39, 39, 0.03) 75%,
      rgba(55, 55, 55, 0.03) 75%,
      rgba(55, 55, 55, 0.03) 87.5%,
      rgba(82, 82, 82, 0.03) 87.5%,
      rgba(82, 82, 82, 0.03) 100%
    ),
    linear-gradient(
      348deg,
      rgba(42, 42, 42, 0.02) 0%,
      rgba(42, 42, 42, 0.02) 20%,
      rgba(8, 8, 8, 0.02) 20%,
      rgba(8, 8, 8, 0.02) 40%,
      rgba(242, 242, 242, 0.02) 40%,
      rgba(242, 242, 242, 0.02) 60%,
      rgba(42, 42, 42, 0.02) 60%,
      rgba(42, 42, 42, 0.02) 80%,
      rgba(80, 80, 80, 0.02) 80%,
      rgba(80, 80, 80, 0.02) 100%
    ),
    linear-gradient(
      120deg,
      rgba(232, 232, 232, 0.01) 0%,
      rgba(232, 232, 232, 0.01) 14.286%,
      rgba(207, 207, 207, 0.03) 14.286%,
      rgba(207, 207, 207, 0.03) 28.572%,
      rgba(207, 207, 207, 0.03) 28.572%,
      rgba(207, 207, 207, 0.03) 42.858%,
      rgba(176, 176, 176, 0.03) 42.858%,
      rgba(176, 176, 176, 0.03) 57.144%,
      rgba(227, 227, 227, 0.03) 57.144%,
      rgba(227, 227, 227, 0.03) 71.42999999999999%,
      rgba(176, 176, 176, 0.03) 71.43%,
      rgba(176, 176, 176, 0.03) 85.71600000000001%,
      rgba(53, 53, 53, 0.03) 85.716%,
      rgba(53, 53, 53, 0.03) 100.002%
    ),
    linear-gradient(
      45deg,
      rgba(214, 214, 214, 0.03) 0%,
      rgba(214, 214, 214, 0.03) 16.667%,
      rgba(255, 255, 255, 0.03) 16.667%,
      rgba(255, 255, 255, 0.03) 33.334%,
      rgba(250, 250, 250, 0.03) 33.334%,
      rgba(250, 250, 250, 0.03) 50.001000000000005%,
      rgba(231, 231, 231, 0.03) 50.001%,
      rgba(231, 231, 231, 0.03) 66.668%,
      rgba(255, 255, 255, 0.03) 66.668%,
      rgba(255, 255, 255, 0.03) 83.33500000000001%,
      rgba(221, 221, 221, 0) 83.335%,
      rgba(221, 221, 221, 0) 100.002%
    ),
    linear-gradient(
      59deg,
      rgba(225, 225, 225, 0.02) 0%,
      rgba(225, 225, 225, 0.02) 12.5%,
      rgba(221, 221, 221, 0) 12.5%,
      rgba(221, 221, 221, 0) 25%,
      rgba(230, 230, 230, 0.01) 25%,
      rgba(230, 230, 230, 0.01) 37.5%,
      rgba(215, 215, 215, 0.01) 37.5%,
      rgba(215, 215, 215, 0.01) 50%,
      rgba(176, 176, 176, 0) 50%,
      rgba(176, 176, 176, 0) 62.5%,
      rgba(215, 215, 215, 0.01) 62.5%,
      rgba(215, 215, 215, 0.01) 75%,
      rgba(249, 249, 249, 0.01) 75%,
      rgba(249, 249, 249, 0.01) 87.5%,
      rgba(215, 215, 215, 0) 87.5%,
      rgba(215, 215, 215, 0) 100%
    ),
    linear-gradient(
      241deg,
      rgba(176, 176, 176, 0) 0%,
      rgba(176, 176, 176, 0) 25%,
      rgba(221, 221, 221, 0) 25%,
      rgba(221, 221, 221, 0) 50%,
      rgba(254, 254, 254, 0) 50%,
      rgba(254, 254, 254, 0) 75%,
      rgba(52, 52, 52, 0.02) 75%,
      rgba(52, 52, 52, 0.02) 100%
    ),
    linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
  }

  .contact-section{
    background: none;
  }



}
